* {
    font-family: "JetBrainsMono Nerd Font", "Symbols Nerd Font Mono", monospace;
    font-size: 13px;
    font-weight: bold;
}

#waybar {
    background-color: transparent;
}

#clock, #battery, #tray, #pulseaudio, #custom-network, #custom-brightness, #workspaces, #custom-firefox, #custom-dolphin, #custom-kitty, #custom-code {
    background-color: rgba(30, 30, 46, 0.85);
    color: #cdd6f4;
    padding: 2px 12px;
    margin: 3px 0px;
    border: 1px solid rgba(205, 214, 244, 0.1);
}

#custom-firefox,
#custom-dolphin,
#custom-kitty,
#custom-code {
    padding: 2px 14px;
}

#custom-firefox {
    border-radius: 15px 0 0 15px;
    border-right-width: 0;
}

#custom-dolphin,
#custom-kitty {
    border-radius: 0;
    border-left-width: 0;
    border-right-width: 0;
}

#custom-code {
    border-radius: 0 15px 15px 0;
    margin-right: 8px;
    border-left-width: 0;
}

#workspaces {
    border-radius: 15px;
    padding: 0;
}

#workspaces button {
    color: #cdd6f4;
    padding: 2px 8px;
    min-width: 18px;
}

#workspaces button.active {
    color: #f9e2af;
    background-color: rgba(205, 214, 244, 0.1);
    border-radius: 15px;
}

#workspaces button:hover {
    background-color: rgba(205, 214, 244, 0.05);
    border-radius: 15px;
}

#clock {
    border-radius: 15px;
}

#tray {
    border-radius: 15px;
    margin-right: 8px;
}

#battery {
    border-radius: 15px 0 0 15px;
    border-right-width: 0;
}

#pulseaudio,
#custom-network {
    border-radius: 0;
    border-left-width: 0;
    border-right-width: 0;
}

#custom-brightness {
    border-radius: 0 15px 15px 0;
    border-left-width: 0;
}

#clock:hover, #battery:hover, #tray:hover, #pulseaudio:hover, #custom-network:hover, #custom-brightness:hover, #custom-firefox:hover, #custom-dolphin:hover, #custom-kitty:hover, #custom-code:hover {
    background-color: rgba(49, 50, 68, 0.9);
    transition: background-color 0.3s ease;
}

tooltip {
    background-color: rgba(29, 31, 41, 0.9);
    border: 1px solid #b4befe;
    border-radius: 15px;
}
